name: check
on:
  workflow_dispatch:
  pull_request:
jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.0 # or "latest", "canary", <sha> #
      - run: bun install
      - run: bun run format
      - run: bun run lint
      - run: bun run typecheck
      - run: bun run build
